<a class="thumbnail" href="{{url}}" title="{{title}} by {{owner.username}}, on Flickr"><img src="{{Large.sourceNoProtocol}}" intrinsicsize="{{Large.width}}x{{Large.height}}" width="{{Large.width}}" height="{{Large.height}}" alt="{{title}}" srcset="{{#Large2048}}{{Large2048.sourceNoProtocol}} 2x{{/Large2048}}" /></a>
