<a class="thumbnail" href="{{url}}" title="{{title}} by {{owner.username}}, on Flickr"><img src="{{toLarge.sourceNoProtocol}}" width="{{toLarge.width}}" height="{{toLarge.height}}" alt="{{title}}" {{#Medium}}src-1="(max-width: 768px)  {{Medium.sourceNoProtocol}} 1x{{#Large}}, {{Large.sourceNoProtocol}} 2x{{/Large}}"{{/Medium}} {{#Large2048}}src-2="{{Large2048.sourceNoProtocol}} 2x"{{/Large2048}} /></a>
