<a data-flickr-embed="true" class="thumbnail" href="{{url}}" title="{{title}} by {{owner.username}}, on Flickr"><img src="{{toMedium800.sourceNoProtocol}}" width="{{toMedium800.width}}" height="{{toMedium800.height}}" alt="{{title}}" srcset="{{toMedium800.sourceNoProtocol}} 768w{{#Large1600}}, {{Large1600.sourceNoProtocol}} 1600w{{/Large1600}}" /></a>
