body {
	font-family: sans-serif;
}
h2 {
	font-size: 16px;
	width: 200px;
}
textarea {
	width: 350px;
	height: 100px;
}

#loading {
    text-align: center;
}

#share,
#template,
#nosupport {
	display: none;
}

#template_txt {
	width: 350px;
	height: 200px;
	display: none;
}

#expand {
	font-size: 12px;
}
#expand span {
	color: #69f;
	cursor: pointer;
	user-select: none;
}
